---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { getPaginatedCategories, getPostPage } from '~/utils/blog';

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return await getPaginatedCategories({ paginate });
}

const { lang } = Astro.params;
const { page, slugMapping, categoryTitle } = Astro.props;

const postPageData = await getPostPage(lang);

const {
  data,
  url: { prev, next },
  currentPage,
} = page;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `${postPageData.categoryText} '${categoryTitle}' ${currentPage > 1 ? ` — ${postPageData.pageText} ${currentPage}` : ''}`,
};
---

<Layout metadata={metadata} slugMapping={slugMapping}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline><span class="capitalize">{categoryTitle}</span></Headline>
    <BlogList posts={data} />
    <Pagination prevUrl={prev} nextUrl={next} />
  </section>
</Layout>
