---
import setWith from 'lodash.setwith';

import type { AWPost } from '~/types/content';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { cmsApiClient } from '~/services/cms.service';
import { LANGUAGES } from '~/utils/languages';
import { getPermalink } from '~/utils/permalinks';
import { getPostPage } from '~/utils/blog';

export const prerender = true;

export async function getStaticPaths() {
  const res: any[] = [];
  const size = 10;

  const allSlugMapping = {};

  for (let lang of LANGUAGES) {
    const categoriesRes = await cmsApiClient.postsCategoriesList({
      headers: { 'accept-language': lang },
    });

    categoriesRes.forEach((categoryItem) => {
      setWith(allSlugMapping, [categoryItem.id, lang], categoryItem.slug, Object);
    });

    for (let categoryObj of categoriesRes) {
      let page = 1;
      const category = categoryObj.slug ? categoryObj.slug : undefined;
      const categoryTitle = categoryObj.title;
      let postsRes = await cmsApiClient.postsPostsList({
        headers: { 'accept-language': lang },
        queries: {
          page,
          size,
          category,
        },
      });
      const count = postsRes.count;
      const maxPage = Math.ceil(count / size);
      res.push(
        {
          params: { lang, category, page },
          props: {
            data: postsRes.results,
            next: postsRes.next ? getPermalink(category + '/' + String(page + 1), 'category', lang) : '',
            previous: postsRes.previous ? getPermalink(category + '/' + String(page - 1), 'category', lang) : '',
            categoryTitle,
            slugMapping: allSlugMapping[categoryObj.id],
          },
        },
        {
          params: { lang, category, page: undefined },
          props: {
            data: postsRes.results,
            next: postsRes.next ? getPermalink(category + '/' + String(page + 1), 'category', lang) : '',
            previous: postsRes.previous ? getPermalink(category + '/' + String(page - 1), 'category', lang) : '',
            categoryTitle,
            slugMapping: allSlugMapping[categoryObj.id],
          },
        }
      );
      while (page < maxPage) {
        page += 1;
        postsRes = await cmsApiClient.postsPostsList({
          headers: { 'accept-language': lang },
          queries: {
            page,
            size,
          },
        });

        res.push({
          params: { lang, category, page },
          props: {
            data: postsRes.results,
            next: postsRes.next ? getPermalink(category + '/' + String(page + 1), 'category', lang) : '',
            previous: postsRes.previous ? getPermalink(category + '/' + String(page - 1), 'category', lang) : '',
            categoryTitle,
            slugMapping: allSlugMapping[categoryObj.id],
          },
        });
      }
    }
  }
  return res;
}

type Props = {
  next?: string;
  previous?: string;
  data: Array<AWPost>;
  categoryTitle: string;
  slugMapping: object;
};

const { page, lang } = Astro.params;
const currentPage = page || 1;

const { data, previous, next, categoryTitle, slugMapping } = Astro.props;

const postPageData = await getPostPage(lang);

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `${postPageData.categoryText} '${categoryTitle}' ${currentPage > 1 ? ` — ${postPageData.pageText} ${currentPage}` : ''}`,
};
---

<Layout metadata={metadata} slugMapping={slugMapping}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline><span class="capitalize">{categoryTitle}</span></Headline>
    <BlogList posts={data} />
    <Pagination prevUrl={previous} nextUrl={next} />
  </section>
</Layout>
